{% extends 'main/base.html' %}

{% block title %} Index {% endblock %}


{% block body %} 

<div class="jumbotron">
	<h1>Glife</h1>
	<p>Una forma única y práctica de organizar los grupos pequeños en tu iglesia.</p>
	<p>
		<a class="btn btn-primary btn-large">Vamos adelante &raquo;</a>
	</p>
</div>


<div class="row">

	<div class="col-md-4">
		<h2><span class="glyphicon glyphicon-tree-deciduous icon-grupo"></span> Grupos</h2>
		<p>Todo sobre grupos</p>
		<a href="{% url "grupos" %}" class="btn btn-primary btn-md btn-block">Ver</a>
		
	</div>

	<div class="col-md-4">
		<h2>Líderes</h2>
		<p>Todo sobre líderes</p>
		<a href="#" class="btn btn-primary btn-md btn-block">Ver</a>
		
	</div>
	
	<div class="col-md-4">
		<h2>Estadísticas</h2>
		<p>Todo sobre estadísticas</p>
		<a href="#" class="btn btn-primary btn-md btn-block">Ver</a>
		
	</div>


	

	
</div>



{% endblock body %}